.pager {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 0 0 48px;
  border-bottom: 1px solid @line-color;
}
.pager-next,
.pager-prev {
  display: table-cell;
}
.pager-next {
  padding-left: 15px;
  text-align: right;
}
.pager-prev {
  padding-right: 15px
}